.button {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 10px;
  }
  
  .mainCard:hover {
    background-color: #f0f0f0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
    transition: transform 0.5s ease;
  }
  
  .cardImg {
    width: 200px;
    height: 200px;
  }
  
  .buttonModal:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
    transition: transform 0.5s ease;
  }
  